<div class="navi">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
  <a class="navbar-brand" href="#">Artisan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-md-3">
       <li class="nav-item active">
        <a class="nav-link" href="/sellersignin"> List of order <span class="sr-only">(current)</span></a>
      </li> 
        <form action="/" method="POST">
        <button class="btn btn-dark">Signout</button></form> 
    </ul>
  </div>
</nav>


  <div class="container pt-3">
  <div class="row">
    <div class="col-lg">
    <div class="card" style="width: 30rem;">
      <img src="{{oneProduct.resizedUrl}} " class="card-img-top" alt="{{oneProduct.description}}">
    <div class="card-body">
      <h5 class="card-title">Card title</h5> 
      <p class="card-text">{{oneProduct.description}}</p> 
      <p>$ {{oneProduct.price}}</p>
      <a href="/ordersuccessful" class="btn btn-dark btn-lg">Order</a>
    </ul>
  </div>
</div>
</div>


    <div class="col-lg">
    <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Contact Information</h5> 
      <p class="card-text">Name: {{oneSeller.name}}</p> 
      <p>Email: {{oneSeller.email}}</p>
      {{!-- <a href="/product/{{oneSeller._id}}" class="btn btn-dark">Order</a> --}}
    </ul>
  </div>
</div>
</div>
 </div>
</div> 



