<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
  <a class="navbar-brand" href="#">Artisan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-md-3">
       <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> 
       <li class="nav-item active">
        <a class="nav-link" href="/product">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listoforder"> List of order <span class="sr-only">(current)</span></a>
      </li> 
        <form action="/" method="POST">
        <button class="btn btn-dark">Sign out</button></form> 
    </ul>
  </div>
</nav>


  <div class="container pt-5">
  <div class="row">
    <div class="col-lg">
    <div class="card" style="width: 30rem;">
      <img src="{{oneProduct.resizedUrl}} " class="card-img-top" alt="{{oneProduct.description}}">
    <div class="card-body">
      <h5 class="card-title">Card title</h5> 
      <p class="card-text">{{oneProduct.description}}</p> 
      <p>$ {{oneProduct.price}}</p>
      {{!-- <a href="/ordersuccessful" class="btn btn-dark btn-lg">Order</a> --}}

      <form action="/ordersuccessful" method="POST">
          <button class="btn btn-dark btn-lg">Order</button>
      </form>

    </ul>
  </div>
</div>
</div>


    <div class="col-lg p-2">
    <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-title"><strong>Contact Information</strong></h4> 
      <p class="card-text"><strong>Name: </strong>{{oneSeller.name}}</p> 
      <p class="card-text"><strong>Pickup location: </strong>{{oneSeller.postalcode}}, {{oneSeller.city}}</p> 
      <p class="card-text">{{oneSeller.country}}</p> 
      <p class="card-text"><strong>Phone number: </strong>{{oneSeller.phonenumber}}</p> 
      <p class="card-text"><strong>Email: </strong>{{oneSeller.email}}</p> 
      <p></p>
      {{!-- <a href="/product/{{oneSeller._id}}" class="btn btn-dark">Order</a> --}}
    </ul>
  </div>
</div>
</div>
 </div>
</div> 





