
<div class="navi">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
  <a class="navbar-brand" href="#">Artisan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <form class="form-inline">
      <input class="form-control " id="inputdefault" width="100px" height="50px" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-md-3">
       <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/buyer-profile">Profile <span class="sr-only">(current)</span></a>
      </li> 
        <form action="/" method="POST">
        <button class="btn btn-dark">Sign out</button></form> 
    </ul>
  </div>
</nav>


  <div class="container pt-5">
  <div class="row">
{{#each products}}
    <div class="col-lg">
    <div class="card text-center" style="width: 21rem;">
      <img src="{{this.resizedUrl}} " class="card-img-top" alt="{{this.description}}">
    <div class="card-body">
      <h5 class="card-title"> <strong>{{this.productcategory}}</strong></h5> 
      <p class="card-text">{{this.description}}</p> 
      <p class="card-text"><strong>Artisan: </strong>{{this.sellerName}}</p> 
      <p class="card-text">€ {{this.price}}</p>
      <a href="/product/{{this._id}}" class="btn btn-dark btn-lg">View</a>
    </ul>
  </div>
</div>
</div>
{{/each}}
</div>
</div>
