<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0">
  <a class="navbar-brand" href="#">Artisan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-md-3">
       <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/seller-profile">Profile <span class="sr-only">(current)</span></a>
      </li>  
        <form action="/" method="POST">
        <button class="btn btn-dark">Sign out</button></form> 
    </ul>
  </div>
</nav>

<div class="container p-2 pb-5 m-10 pt-3 mt-5 pb-3">
    <h2><strong>Add Product </strong></h2>
</div>

<div class="container">
  <form method="POST" action="/sellerPage" enctype="multipart/form-data">
    <div class="form-group">
    <label for="product-category">Product Category</label>
    <select class="form-control" id="product-category" name="productcategory" placeholder="Product Category">
      <option>Custom Clothing</option>
      <option>Food & Drink</option>
      <option>Painting</option>
      <option>Pottery</option> 
      </select>
      </div>
    <div class="form-group">
      <label for="upload-description">Description</label>
      <textarea id="upload-description" class="form-control" name="description" placeholder="Summary of the product"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" class="form-control" required type="text" name="price" placeholder="Price">
    </div>
    <div class="form-group">
      <label for="delivery">Expected delivery</label>
      <input id="delivery" class="form-control" required type="delivery" name="delivery" placeholder="Number of days required to deliver the product">
    </div>
    <div class="form-group">
      <label for="upload-file">Image</label>
      <input id="upload-file" required class="form-control" type="file" name="file">
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary btn-lg form-control">Upload Product</button>
    </div>
  </form>
</div>
</div>

<div class="seller-products">
{{#each images}}
<div class="card text-center" style="width: 18rem;">
  <img src="{{this.resizedUrl}} " class="card-img-top" alt="{{this.description}}">
  <div class="card-body">
      <h5 class="card-title"> <strong>{{this.productcategory}}</strong></h5> 
      <p class="card-text">{{this.description}}</p> 
      <p class="card-text"><strong>Artisan: </strong>{{this.sellerName}}</p> 
      <p class="card-text">€ {{this.price}}</p>
      <a href="/sellerPage/edit/{{this._id}}" class="btn btn-outline-primary">Edit</a>
      <a href="/sellerPage/delete/{{this._id}}" class="btn btn-outline-danger">Delete</a>
  </div>
</div>
{{/each}}
</div>
